#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}
.overlay-block {
    text-align: center;
    top: 35%;
    left: 35%;
    width: 30%;
    height: 30%;
    position: absolute;
}
.overlay-text {
    color: #fff;
    line-height: 26px;
    font-size: 28px;
}

#addCommentButton {
    width: 160px;
    margin: 0 auto;
    border-radius: 20px;
}
#addCommentButton:hover {
    background: #ddd;
}
.blur {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

.pipeline {
    margin: 10px;
}

.pipeline-header {
    border-bottom: 2px solid #bbb;
    text-align: center;
}

.pipeline-body {
    max-height: 80%;
    height: 100%;
    overflow-y: auto;
}

.task {
    margin: 5px 5px;
    border-left: 5px solid;
}

.border_success {
    border-left-color: #24a65c !important;
}

.border_danger {
    border-left-color: #9e9e9e !important;
}

.border_warning {
    border-left-color: #eb5757 !important;
}

.color_success {
    color: #24a65c !important;
}

.color_danger {
    color: #9e9e9e !important;
}

.color_warning {
    color: #eb5757 !important;
}

body {
    background-color: #f5f5f5;
}

.dropdown-toggle::after {
    display: none !important;
}

.card-title {
    font-size: 14px;
}

.card-subtitle {
    font-size: 12px;
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: .8em;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: .1rem;
    margin-right: .1rem;
}