<div class="bootstrap">
    <div style="margin: 0;
        margin-bottom:  10px;
        border-bottom: 1px solid #ddd;
        padding-bottom:  10px;
        font-size: 18px;">
        Дополнительная информация
    </div>
    <h3>Покупатель</h3>
    <div class="row">
        <div class="col-lg-5" style="text-align: right"><b>Наименование компании:</b></div>
        <div class="col-lg-7" id="info_nameCompany">11231231</div>
    </div>
    <div class="row">
        <div class="col-lg-5" style="text-align: right"><b>Контактое лицо:</b></div>
        <div class="col-lg-7" id="info_nameContact">123123</div>
    </div>
    <div class="row">
        <div class="col-lg-5" style="text-align: right"><b>Телефон:</b></div>
        <div class="col-lg-7" id="info_telphone">1231231</div>
    </div>
    <div class="row">
        <div class="col-lg-5" style="text-align: right"><b>E-Mail:</b></div>
        <div class="col-lg-7" id="info_email">123123</div>
    </div>
    <h3>Поставщик</h3>

    <div class="row">
        <div class="col-lg-5" style="text-align: right"><b>Наименование компании:</b></div>
        <div class="col-lg-7" id="info_supplier_nameCompany">11231231</div>
    </div>
    <div class="row">
        <div class="col-lg-5" style="text-align: right"><b>Контактое лицо:</b></div>
        <div class="col-lg-7" id="info_supplier_nameContact">123123</div>
    </div>
    <div class="row">
        <div class="col-lg-5" style="text-align: right"><b>Телефон:</b></div>
        <div class="col-lg-7" id="info_supplier_telphone">1231231</div>
    </div>
    <div class="row">
        <div class="col-lg-5" style="text-align: right"><b>E-Mail:</b></div>
        <div class="col-lg-7" id="info_supplier_email">123123</div>
    </div>
</div>