<div class="bootstrap">
    <div style="margin: 0;
        margin-bottom:  10px;
        border-bottom: 1px solid #ddd;
        padding-bottom:  10px;
        font-size: 18px;">
        Дополнительная информация
    </div>
    <table class="table table-bordered" style="margin: 10px 0;">
        <tr>
            <td colspan="2">Покупатель</td>
        </tr>
        <tr>
            <td>Наименование компании</td>
            <td id="info_nameCompany">Имя</td>
        </tr>
        <tr>
            <td>Контактое лицо</td>
            <td id="info_nameContact">Имя</td>
        </tr>
        <tr>
            <td>Телефон</td>
            <td id="info_telphone">Имя</td>
        </tr>
        <tr>
            <td>E-Mail</td>
            <td id="info_email">Имя</td>
        </tr>
    </table>
</div>