{% if task.user_id == taskPlusSettings.userInfo.id %}
    <p class="comments-add-button" onclick="TaskPlusLibrary.addCommentModal({{ task.i }})">
        + добавить комментарий
    </p>
{% endif %}
{% for comment in comments %}
    <div class="comments-comment">
        <span class="comments-date">
            {{ comment.created_at }}
        </span>
        <p class="comments-text">
            {{ comment.text }}
        </p>

    </div>
{% endfor %}